*.gem
*.rbc
.bundle
.config
.yardoc
_yardoc
Gemfile.lock
coverage
doc/
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
pdf_text
debug_text
tmp
# Ignore Mac DS_Store files
**/.DS_Store
profile/
