---
sudo: false
branches:
  only:
    - master
language: ruby
cache: bundler

bundler_args: --without integration --without tools

before_install:
- sudo apt-get update
- sudo apt-get install -y poppler-utils
- gem update --system
- gem update bundler
- gem update rake
- gem --version

matrix:
  include:
  - rvm: 2.3
  - rvm: 2.4
  - rvm: 2.5
  - rvm: 2.6
