name: inspec_tools
on:
  push:
  pull_request:
jobs:
  test:
    name: Build and test inspec_tools
    runs-on: ubuntu-latest
    steps:
      - name: Checkout inspec_tools
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Setup ruby
        uses: actions/setup-ruby@v1
      - name: Install bundler
        run: |
          gem install bundler
      - name: Run bundle install
        run: |
          bundle install
      - name: Run rake test
        run: |
          bundle exec rake test
#      - name: Install rubocop
#        run: |
#          gem install rubocop
#      - name: Run rubocop
#        run: |
#          rubocop
      - name: Build inspec_tools gem
        run: |
          gem build inspec_tools.gemspec
      - name: Install inspec_tools gem
        run: |
          gem install inspec_tools
